<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="about-body">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>

    <h1>The man, the musician, the legend</h1>
    <div id="about-miles">
      <p>
        Miles Davis is widely regarded as one of the greatest jazz musicians of
        all time. Born in Alton, Illinois in 1926, Davis began playing the
        trumpet at the age of 13 and quickly gained a reputation for his
        virtuosic playing and innovative style. Throughout his career, he pushed
        the boundaries of jazz and experimented with new sounds and techniques,
        becoming a pioneer of the genre.
      </p>
      <p>
        Davis' career spanned over five decades and produced numerous landmark
        recordings, including the seminal album "Kind of Blue," which is widely
        considered one of the greatest jazz albums of all time. He also
        collaborated with a wide range of musicians and artists, including John
        Coltrane, Herbie Hancock, and Prince, among others. <br> Davis was known for
        his cool, understated demeanor and his dedication to his craft. He was a
        constant innovator and risk-taker, and his music continues to influence
        musicians and fans alike to this day. In addition to his contributions
        to music, Davis was also a civil rights activist and spoke out against
        racism and inequality throughout his life.
      </p>
      <p>
        Miles Davis' impact on jazz and music as a whole is immeasurable, and
        his legacy continues to inspire generations of musicians and fans.
      </p>
    </div>
    <img src="/images/young-miles.png" />
  </body>
</html>
