<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="home-body">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="gallery">Photo Gallery</a>
    </nav>

    <section class="gallery">
        <h2>Miles Gallery</h2>
        <div class="photo-grid">
          <div class="photo">
            <img src="/images/miles-davis-1.jpg" alt="Miles Davis Photo 1">
          </div>
          <div class="photo">
            <img src="/images/miles-davis-2.jpeg" alt="Miles Davis Photo 2">
          </div>
          <div class="photo">
            <img src="/images/miles-davis-3.jpeg" alt="Miles Davis Photo 3">
          </div>
          <div class="photo">
            <img src="/images/miles-davis-4.jpeg" alt="Miles Davis Photo 4">
          </div>
          <div class="photo">
            <img src="/images/miles-davis-5.jpeg" alt="Miles Davis Photo 5">
          </div>
          <div class="photo">
            <img src="/images/miles-davis-6.jpeg" alt="Miles Davis Photo 6">
          </div>
        </div>
    </section>
      