<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="home-body">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="gallery">Photo Gallery</a>
    </nav>

    <h1>Welcome to our site dedicated to Miles Davis</h1>
    <h2>Best trumpet in town!</h2>
    <img id="mainPic"src="/images/miles-davis-main.jpg" />
  </body>
</html>