<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="works-body">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>

    <h1>Notable work</h1>
   
    <h2>Music</h2>
      <p>
        Miles Davis is widely regarded as one of the most influential and
        innovative musicians of the 20th century. Over the course of his career,
        he helped shape the development of several jazz sub-genres, including
        bebop, cool jazz, and fusion. Davis was also known for his willingness to
        take risks and experiment with new sounds, earning him a reputation as a
        boundary-pushing artist.
      </p>
    <h3>Albums</h3>
    <p>
      A prolific recording artist, he released over 50 studio albums throughout his career. His discography spans several decades and musical styles, from bebop and cool jazz to fusion and experimental jazz. 
      Davis' innovative approach to music and his willingness to push boundaries have solidified his place as one of the most influential figures in jazz history.
      <br>
      "Kind of Blue" is widely regarded as one of the greatest jazz albums of
      all time. Released in 1959, it features a stellar lineup of musicians,
      including John Coltrane and Bill Evans. The album's modal jazz style and
      improvisational approach to music have influenced countless musicians and
      continue to captivate listeners today.
    </p>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kgRcCyey1hM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h3>Awards & Nominations</h3>
      <p>
        Davis received numerous awards and nominations throughout his career. He won eight Grammy Awards, including one for Lifetime Achievement, and was inducted into the Rock and Roll Hall of Fame and the Down Beat Jazz Hall of Fame. 
        He was also posthumously awarded the Pulitzer Prize Special Citation in 2007 for his "timeless and enduring music that has enriched the lives of millions of people worldwide."
      </p>
    <h2>Cinema</h2>
    <p>
      Although Miles Davis is primarily known for his contributions to the world of music, he also had a successful career in film. 
      He composed and performed music for several movies, including "Elevator to the Gallows" (1958) and "Ascenseur pour l'échafaud" (1960). 
      Davis also appeared in a few films, including "Dingo" (1991) and "Scrooged" (1988), where he played himself in a cameo role.
    </p>
    <img src="/images/dingo.png" />
    <!--<img src="/images/miles-davis-main.jpg" />-->
  </body>
</html>
